*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    background: rgb(64,18,18);
    background: radial-gradient(circle, rgba(64,18,18,1) 0%, rgba(0,0,0,1) 100%);
}

.context{
    color: white;
}
    /*TOP BAR---------------------------------------------------------------------------*/
.top-bar{
    padding: 20px;
    height: 100vh;
    width: 100vw;
    background-color: black;
    align-items: center;
    justify-content: center;
    background: rgb(64,18,18);
    background: radial-gradient(circle, rgba(64,18,18,1) 0%, rgba(0,0,0,1) 100%);
}

.top-left{
    height: 90%;
    background-image: url("assets/Imesh_Isuranga-removebg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 3em;
    border: 1px solid white;
}

.top-right{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.socialMedia{
    height: 50px;
    width: 300px;
    background-color: white;
}

.top-right .top-text p{
    font-size: 90px;
    line-height: 90px;
    padding-bottom: 15px;
    font-weight: bold;
    color: white;
    text-align: center;
    font-family: 'Encode Sans', sans-serif;
}

.top-text{
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-scrolBtn{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#scrollBtn{
    height: 120px;
    width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    border-radius: 3em;
}

#scrollBtn:before{
    content: "";
    height: 1.2em;
    width: 1.2em;
    background-color: white;
    border-radius: 50%;
    animation: move-down 2s infinite;
}

@keyframes move-down {
    80%{
        opacity: 0.5;
    }
    100%{
        transform: translateY(3.5em);
        opacity: 0;
    }
}

.top-scrolBtn p{
    text-align: left;
    font-size: 20px;
    color: white;
}



/*aboutMe------------------------------------------------------------------------*/

.aboutMe{
    height: auto;
    min-height: 100vh;
    width: 100vw;
    padding: 30px;
    background: rgb(64,18,18);
    background: radial-gradient(circle, rgba(64,18,18,1) 0%, rgba(0,0,0,1) 100%);
}

.aboutMe-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.aboutMe-left-img{
    background-image: url("assets/about Me-1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 550px;
    width: 100%;
    border-radius: 3em;
    border: 1px solid white;
}

.aboutMe-left-text{
    text-align: left;
    font-size: 70px;
    font-weight: bold;
    font-family: 'Encode Sans', sans-serif;
    margin-bottom: 50px;
}

.aboutMe-right{
    height: auto;
    font-size: 20px;
    padding-top: 180px;
}

/*Projects---------------------------------------------------------------------------------*/

.projects{
    width: 100vw;
    height: auto;
    min-height: 100vh;
    padding: 30px;
    min-height: 100vh;
    background: rgb(64,18,18);
    background: radial-gradient(circle, rgba(64,18,18,1) 0%, rgba(0,0,0,1) 100%);
}

.projects-left{
    width: 100%;
    height: auto;
}

.projects-right{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

#projectsTitle{
    text-align: left;
    font-size: 70px;
    font-weight: bold;
    font-family: 'Encode Sans', sans-serif;
    margin: 0;
}

#description{
    height: auto;
    font-size: 20px;
    padding-top: 10px;
    margin: 0;
}

.preview-projects{
    width: 100%;
    padding: 31%;
    box-shadow: 16px 14px 20px black;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.preview-projects:before{
    content: "";
    background-image: conic-gradient(#0984e3 20deg,transparent 300%);
    width: 180%;
    height: 40%;
    position: absolute;
    animation: rotate 2s linear infinite;
}


@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.preview-projects:after{
    content: "";
    width: 99%;
    padding: 30.5%;
    background-image: url("assets/Box_Imgs/1-1.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.project-1{
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.project-1 .common{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    padding: 10px;
    margin: 20px;
    transition: 1s;
    max-width: 1000px;
    width: auto;
}

.text1{
    font-size: 30px;
    font-weight: bold;
}

.text2{
    font-size: 23px;
}

.proj-1{
    background: -moz-linear-gradient(90deg, red, white, blue);
    box-shadow: 0px 0px 5px 0px white;
}
.proj-2{
    background: -moz-linear-gradient(90deg, red, white, blue);
    box-shadow: 0px 0px 5px 0px white;
}
.proj-3{
    background: -moz-linear-gradient(90deg, red, white, blue);
    box-shadow: 0px 0px 5px 0px white;
}


.project-1 .common:hover{
    box-shadow: 0px 0px 20px 1px black;
    transform: scale(0.95);
}

/*contact------------------------------------------------------------*/

.contact{
    width: 100vw;
    height: 100vh;
    padding:20px;
    background-image: url("assets/contact-2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#contactTitle{
    text-align: left;
    font-size: 70px;
    font-weight: bold;
    font-family: 'Encode Sans', sans-serif;
    margin: 0;
}

.contact-contain{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.divc{
    height: 40%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo{
    width: 100px;
    height: 100px;
}

.contactCall{
    background-image: url("assets/Icons/cal.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.contactWhatsapp{
    background-image: url("assets/Icons/whatsapp.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.contactEmail{
    background-image: url("assets/Icons/gmail.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#phone{
    font-size: 35px;
    font-weight: bold;
    margin-bottom: -20px;
}
#whatsapp{
    font-size: 35px;
    font-weight: bold;
    margin-bottom: -20px;
}
#email{
    font-size: 35px;
    font-weight: bold;
    margin-bottom: -20px;
}

#phoneNumber{
    font-size: 22px;
}
#whatsappNumber{
    font-size: 22px;
}
#myemail{
    font-size: 22px;
}

.txtcontact{
    width: 100%;
    height: auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*footer--------------------------------------------------------------------------------------*/

.footer{
    padding-top: 10px;
    width: 100vw;
    height: 40px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    /*TOP BAR---------------------------------------------------------------------------*/
    .top-bar{
        padding-top: 20px;
    }

    .top-left{
        height: 40vh;
        background-image: url("assets/Imesh_Isuranga-removebg.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        border-radius: 3em;
        border: 1px solid white;
    }

    .top-right{
        height: 60vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .top-right .top-text p{
        font-size: 50px;
        line-height: 60px;
        padding-bottom: 15px;
        font-weight: bold;
        color: white;
        text-align: center;
    }

    #scrollBtn{
        height: 80px;
        width: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 1px solid white;
        border-radius: 3em;
    }

    #scrollBtn:before{
        content: "";
        height: 1.0em;
        width: 1.0em;
        background-color: white;
        border-radius: 50%;
        animation: move-down 2s infinite;
    }

    @keyframes move-down {
        80%{
            opacity: 0.5;
        }
        100%{
            transform: translateY(2em);
            opacity: 0;
        }
    }

    /*AboutMe--------------------------------------------*/
    .aboutMe{
        height: auto;
        min-height: 100vh;
        width: 100vw;
        padding: 10px;
    }

    .aboutMe-left-text{
        font-size: 40px;
        font-weight: bold;
        font-family: 'Encode Sans', sans-serif;
    }

    .aboutMe-right{
        height: auto;
        font-size: 15px;
        padding-top: 20px;
        margin-right: 10px;
        margin-left: 10px;
        text-align: center;
    }

    .aboutMe-left{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

    .aboutMe-left-img{
        background-image: url("assets/about Me-1.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 350px;
        width: 100%;
    }

    /*Projects---------------------------------------------------------------------------------*/

    .projects{
        width: 100vw;
        height: auto;
        min-height: 100vh;
        padding: 20px;;
    }

    .projects-right{
        width: 100%;
        height: 250px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .projects-left{
        width: 100%;
        height: auto;
        padding-bottom: 100px;
    }

    #projectsTitle{
        font-size: 40px;
        font-weight: bold;
        font-family: 'Encode Sans', sans-serif;
    }

    #description{
        height: auto;
        font-size: 15px;
        padding-top: 10px;
    }

    .text1{
        font-size: 30px;
        font-weight: bold;
    }

    .text2{
        font-size: 20px;
    }

    /*contact------------------------------------------------------------*/

    #contactTitle{
        font-size: 40px;
        font-weight: bold;
        font-family: 'Encode Sans', sans-serif;
    }

    .divc{
        height: 40%;
        margin: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
    }

    .emaildiv{
        height: 40%;
        margin: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

}


@media (max-width: 480px) {

    /*TopBar*/

    .top-right .top-text p{
        font-size: 40px;
        line-height: 50px;
        padding-bottom: 15px;
        font-weight: bold;
        color: white;
        text-align: center;
        font-family: 'Encode Sans', sans-serif;
    }


    /*aboutMe-----------------------------------------------------------------------*/

    .aboutMe-left-text{
        text-align: left;
        font-size: 70px;
        font-weight: bold;
        font-family: 'Encode Sans', sans-serif;
        margin-bottom: 5px;
    }

    .aboutMe-left-img{
        background-image: url("assets/about Me-1.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 250px;
        width: 100%;
    }

    /*Projects---------------------------------------------------------------------------------*/
    .projects{
        width: 100vw;
        height: auto;
        min-height: 100vh;
        padding: 20px;
    }

    .projects-left{
        width: 100%;
        height: auto;
        margin-bottom: 40px;
    }

    .projects-right{
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 20px;
        padding-bottom: 30px;
    }

    .text1{
        font-size: 20px;
        font-weight: bold;
    }

    .text2{
        font-size: 15px;
    }

    /*contact------------------------------------------------------------*/

    .divc{
        height: 40%;
        margin: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .emaildiv{
        height: 40%;
        margin: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        position: relative;
        top: -90px;
    }

}
